{
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "bracketSameLine": false,
  "endOfLine": "lf",
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^react",
    "^@tanstack/(.*)",
    "^@hookform/(.*)",
    "@phosphor-icons/react",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/layout/(.*)",
    "^@/routes/(.*)",
    "^@/components/(.*)",
    "^@/hooks/(.*)",
    "^@/context/(.*)",
    "^@/lib/(.*)",
    "",
    "^@/data/(.*)",
    "",
    "^\\.\\./(.*)",
    "^\\./(.*)",
    "",
    "\\.(s?css|less)$",
    "",
    "<TYPES>",
    ""
  ]
}
