@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap');



.switch input {
    position: absolute;
    opacity: 0;
}

.switch {
    display: inline-block;
    font-size: 1em;
    height: 1.5em;
    width: 3em;
    background: #BDB9A6;
    border-radius: 1.5em;
}

.switch div {
    height: 1.5em;
    width: 1.5em;
    border-radius: 1.5em;
    background: #FFFFFF;
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
}

.switch input:checked+div {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.switch-label {
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #FFFFFF;
    border-radius: 0.5em;
    box-shadow: 0 10px 20px rgba(black, 0.2);

    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 80% !important;
}

.close {
    color: #AAAAAA;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.model-text {
    font-family: 'Nunito', sans-serif;
}

.jumbotron.vertical-center {
    margin-bottom: 0;
}

.vertical-center {
    position: relative;
    min-height: 100%;
    min-height: 100vh;
    width: 100%;
}


body {
    background-color: #EEEEEE !important;
}

#customized-emoji {
    font-family: "Noto Color Emoji";
    font-size: 16em;
    font-palette: --palette;
}

#result-canvas {
    font-palette: --palette;
}


#footer-content {
    font-size: 0.5em;
    font-family: 'Courier Prime', monospace;
}



.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.color-block {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 3em;
    height: 3em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0.1em
}

.color-block::-webkit-color-swatch {
    border-radius: 0.5em;
    border: 1px solid #000000;
}

.color-block::-moz-color-swatch {
    border-radius: 0.5em;
    border: 1px solid #000000;
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}


.download-button,
.reset-button,
.random-emoji-button,
.random-color-button,
.share-button,
.function-button {
    width: 2.5em;
    height: 2.5em;
    font-size: 1em;
    border: none;
    border-radius: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    color: #FFFFFF;
}

.download-button {
    background-color: #18518A;
    color: #FFFFFF;
}

.reset-button {
    background-color: #cc7eb1;
    color: #FFFFFF;
}

.random-emoji-button {
    background-color: #DB4D6D;
    color: #FFFFFF;
}

.random-color-button {
    background-color: #89916B;
    color: #FFFFFF;
}

.share-button {
    background-color: #C48055;
    color: #FFFFFF;
}


#emoji-picker-button {
    background-color: #339daf;
    color: #FFFFFF;
}



#emoji-picker-button {
    width: 12em;
    height: 2.5em;
    font-size: 1em;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
}

#color-pickers {
    align-items: center;
    justify-content: center;
    line-height: 0
}


#emoji-picker-mobile {
    position: fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
